<div class="flow-root w-full">
  <div class="sm:flex sm:items-center mb-8">
    <div class="sm:flex-auto">
      <h1 class="text-2xl font-semibold text-gray-900">Skills</h1>
      <p class="mt-2 text-sm text-gray-700">
        The purpose of this list is to have a showcase of some of my skills. It doesn't have to be exhaustive.
      </p>
    </div>
  </div>
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow-sm ring-1 ring-black/5 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Category</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Library</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @skills.each do |key, value| %>
              <tr class="group cursor-pointer">
                <td class="text-sm font-medium whitespace-nowrap text-gray-900 group-hover:bg-gray-50">
                  <%= link_to title(key), skills_path(skill: key), class: "py-4 pr-3 pl-4 sm:pl-6 w-full block" %>
                </td>
                <td class="text-sm whitespace-nowrap text-gray-500 group-hover:bg-gray-50">
                  <%= link_to skills_path(skill: key), class: "px-3 py-4 w-full block" do %>
                    <%= category_badge(value["category"]) %>
                  <% end %>
                </td>
                <td class="text-sm whitespace-nowrap text-gray-500 group-hover:bg-gray-50">
                  <%= link_to skills_path(skill: key), class: "px-3 py-4 w-full block" do %>
                    <%= library_badge(value["library"]) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
